/*-- scss:defaults --*/

// Colors

$mcr-primary:         #00FF00;
$mcr-primary-light:   #6C757D;
$mcr-secondary:       #FF0000;
$mcr-secondary-light: #FE0000;
$mcr-accent:          #0000FF;
$mcr-accent-light:    #0000FF;
$mcr-accent-dark:     #0000FF;
$mcr-bg-0:            #FFFFFF;
$mcr-bg-1:            #F0F0F0;
$mcr-bg-00:           #FFFFFF;

// Fonts

$mcr-font-family:     "Atkinson Hyperlegible", sans-serif;
$mcr-font-family-monospace:      "Fira Code", monospace;

/*-- scss:rules --*/
